In [3]:
import pandas as pd

In [4]:
import numpy as np

In [5]:
viloyatlar = [
    "Andijon viloyati",
    "Buxoro viloyati",
    "Fargona viloyati",
    "Jizzax viloyati",
    "Xorazm viloyati",
    "Namangan viloyati",
    "Navoiy viloyati",
    "Qashqadaryo viloyati",
    "Qoraqalpogʻiston Respublikasi",
    "Samarqand viloyati",
    "Sirdaryo viloyati",
    "Surxondaryo viloyati",
    "Toshkent viloyati",
]
markaz = [
    "Andijon shahri",
    "Buxoro shahri",
    "Fargona shahri",
    "Jizzax shahri",
    "Urganch shahri",
    "Namangan shahri",
    "Navoiy shahri",
    "Qarshi shahri",
    "Nukus shahri",
    "Samarqand shahri",
    "Guliston shahri",
    "Termiz shahri",
    "Nurafshon shahri",
]
maydonlar = [
     4200,
    39400,
    6800,
    20500,
    6300,
    7900,
    110800,
    28400,
    160000,
    16400,
    5100,
    20800,
    15300,
]
aholi = [
    1899000,
    1384700,
    2597000,
    910500,
    1200000,
    1862000,
    767500,
    2029000,
    1200000,
    2322000,
    648100,
    1676000,
    4450000,
]
data = {
    "Hudud" : viloyatlar,
    "Markaz" : markaz,
    "Maydoni" : maydonlar,
    "Aholisi" : aholi
}
df = pd.DataFrame(data)

In [6]:
df

                            Hudud            Markaz  Maydoni  Aholisi
0                Andijon viloyati    Andijon shahri     4200  1899000
1                 Buxoro viloyati     Buxoro shahri    39400  1384700
2                Fargona viloyati    Fargona shahri     6800  2597000
3                 Jizzax viloyati     Jizzax shahri    20500   910500
4                 Xorazm viloyati    Urganch shahri     6300  1200000
5               Namangan viloyati   Namangan shahri     7900  1862000
6                 Navoiy viloyati     Navoiy shahri   110800   767500
7            Qashqadaryo viloyati     Qarshi shahri    28400  2029000
8   Qoraqalpogʻiston Respublikasi      Nukus shahri   160000  1200000
9              Samarqand viloyati  Samarqand shahri    16400  2322000
10              Sirdaryo viloyati   Guliston shahri     5100   648100
11           Surxondaryo viloyati     Termiz shahri    20800  1676000
12              Toshkent viloyati  Nurafshon shahri    15300  4450000

In [8]:
df.head()

              Hudud          Markaz  Maydoni  Aholisi
0  Andijon viloyati  Andijon shahri     4200  1899000
1   Buxoro viloyati   Buxoro shahri    39400  1384700
2  Fargona viloyati  Fargona shahri     6800  2597000
3   Jizzax viloyati   Jizzax shahri    20500   910500
4   Xorazm viloyati  Urganch shahri     6300  1200000

In [10]:
df.sample(3)

                   Hudud            Markaz  Maydoni  Aholisi
2       Fargona viloyati    Fargona shahri     6800  2597000
12     Toshkent viloyati  Nurafshon shahri    15300  4450000
11  Surxondaryo viloyati     Termiz shahri    20800  1676000

In [11]:
df[['Hudud','Aholisi']]

                            Hudud  Aholisi
0                Andijon viloyati  1899000
1                 Buxoro viloyati  1384700
2                Fargona viloyati  2597000
3                 Jizzax viloyati   910500
4                 Xorazm viloyati  1200000
5               Namangan viloyati  1862000
6                 Navoiy viloyati   767500
7            Qashqadaryo viloyati  2029000
8   Qoraqalpogʻiston Respublikasi  1200000
9              Samarqand viloyati  2322000
10              Sirdaryo viloyati   648100
11           Surxondaryo viloyati  1676000
12              Toshkent viloyati  4450000

In [12]:
df.Markaz

0       Andijon shahri
1        Buxoro shahri
2       Fargona shahri
3        Jizzax shahri
4       Urganch shahri
5      Namangan shahri
6        Navoiy shahri
7        Qarshi shahri
8         Nukus shahri
9     Samarqand shahri
10     Guliston shahri
11       Termiz shahri
12    Nurafshon shahri
Name: Markaz, dtype: object

In [19]:
df[df.Aholisi > 2000000]

                   Hudud            Markaz  Maydoni  Aholisi
2       Fargona viloyati    Fargona shahri     6800  2597000
7   Qashqadaryo viloyati     Qarshi shahri    28400  2029000
9     Samarqand viloyati  Samarqand shahri    16400  2322000
12     Toshkent viloyati  Nurafshon shahri    15300  4450000

In [22]:
df[df.Maydoni < 10000]

                Hudud           Markaz  Maydoni  Aholisi
0    Andijon viloyati   Andijon shahri     4200  1899000
2    Fargona viloyati   Fargona shahri     6800  2597000
4     Xorazm viloyati   Urganch shahri     6300  1200000
5   Namangan viloyati  Namangan shahri     7900  1862000
10  Sirdaryo viloyati  Guliston shahri     5100   648100

In [23]:
df.set_index(df.columns[0], inplace=True)
df.head()

                          Markaz  Maydoni  Aholisi
Hudud
Andijon viloyati  Andijon shahri     4200  1899000
Buxoro viloyati    Buxoro shahri    39400  1384700
Fargona viloyati  Fargona shahri     6800  2597000
Jizzax viloyati    Jizzax shahri    20500   910500
Xorazm viloyati   Urganch shahri     6300  1200000

In [26]:
"Samarqand viloyati" in df[df.Aholisi > 2000000].index

True

In [27]:
df.loc[["Andijon viloyati","Jizzax viloyati","Xorazm viloyati"]]

                          Markaz  Maydoni  Aholisi
Hudud
Andijon viloyati  Andijon shahri     4200  1899000
Jizzax viloyati    Jizzax shahri    20500   910500
Xorazm viloyati   Urganch shahri     6300  1200000

In [28]:
df.loc[['Toshkent viloyati',"Qoraqalpogʻiston Respublikasi"],['Maydoni','Aholisi']]

                               Maydoni  Aholisi
Hudud
Toshkent viloyati                15300  4450000
Qoraqalpogʻiston Respublikasi   160000  1200000

In [44]:
df_new = df[df.Aholisi < 1500000]
df_new

                                        Markaz  Maydoni  Aholisi
Hudud
Buxoro viloyati                  Buxoro shahri    39400  1384700
Jizzax viloyati                  Jizzax shahri    20500   910500
Xorazm viloyati                 Urganch shahri     6300  1200000
Navoiy viloyati                  Navoiy shahri   110800   767500
Qoraqalpogʻiston Respublikasi     Nukus shahri   160000  1200000
Sirdaryo viloyati              Guliston shahri     5100   648100

In [47]:
'Navoiy viloyati' and  'Namangan viloyati' and 'Xorazm viloyati' in df_new

False

In [51]:
pd.Index(['Navoiy viloyati','Namangan viloyati','Xorazm viloyati',"Qoraqalpogʻiston Respublikasi"]).isin(df_new.index)

array([ True, False,  True,  True])

In [52]:
df[(df.Aholisi > 1000000) & (df.Maydoni < 10000)]

                            Markaz  Maydoni  Aholisi
Hudud
Andijon viloyati    Andijon shahri     4200  1899000
Fargona viloyati    Fargona shahri     6800  2597000
Xorazm viloyati     Urganch shahri     6300  1200000
Namangan viloyati  Namangan shahri     7900  1862000

In [58]:
df[(df.Aholisi < 1000000) & (df.Maydoni > 10000)]

                        Markaz  Maydoni  Aholisi
Hudud
Jizzax viloyati  Jizzax shahri    20500   910500
Navoiy viloyati  Navoiy shahri   110800   767500

In [59]:
df.drop(['Markaz'], axis=1)

                               Maydoni  Aholisi
Hudud
Andijon viloyati                  4200  1899000
Buxoro viloyati                  39400  1384700
Fargona viloyati                  6800  2597000
Jizzax viloyati                  20500   910500
Xorazm viloyati                   6300  1200000
Namangan viloyati                 7900  1862000
Navoiy viloyati                 110800   767500
Qashqadaryo viloyati             28400  2029000
Qoraqalpogʻiston Respublikasi   160000  1200000
Samarqand viloyati               16400  2322000
Sirdaryo viloyati                 5100   648100
Surxondaryo viloyati             20800  1676000
Toshkent viloyati                15300  4450000

In [67]:
df.at['Sirdaryo viloyati','Aholisi']

648100

In [65]:
df.at['Buxoro viloyati','Maydoni']

39400

In [71]:
qq_r = df.at["Qoraqalpogʻiston Respublikasi", 'Maydoni']
uzb_sum = sum(df.Maydoni) # df.Maydoni.sum()
print(f"Qoraqalpogʻiston Respublikasimaydoni : {qq_r} kv.km")
print(f"O'zbekiston Respublikasi maydoni : {uzb_sum} kv.km")
print(f"Qoraqalpogʻiston Respublikasimaydoni O'zbekiston Respublikasining {round(qq_r/uzb_sum*100)} % ni tashkil qiladi")

Qoraqalpogʻiston Respublikasimaydoni : 160000 kv.km
O'zbekiston Respublikasi maydoni : 441900 kv.km
Qoraqalpogʻiston Respublikasimaydoni O'zbekiston Respublikasining 36 % ni tashkil qiladi

In [74]:
qq_r = df.at["Qoraqalpogʻiston Respublikasi", 'Aholisi']
uzb_sum = sum(df.Aholisi) # df.Maydoni.sum()
print(f"Qoraqalpogʻiston Respublikasimaydoni : {qq_r} kv.km")
print(f"O'zbekiston Respublikasi maydoni : {uzb_sum} kv.km")
print(f"Qoraqalpogʻiston Respublikasimaydoni O'zbekiston Respublikasining {round(qq_r/uzb_sum*100)} % ni tashkil qiladi")

Qoraqalpogʻiston Respublikasimaydoni : 1200000 kv.km
O'zbekiston Respublikasi maydoni : 22945800 kv.km
Qoraqalpogʻiston Respublikasimaydoni O'zbekiston Respublikasining 5 % ni tashkil qiladi